$colors: (
    common: (
        color-blue: #0d6efd,
        color-indigo: #6610f2,
        color-purple: #6f42c1,
        color-pink: #d63384,
        color-red: #dc3545,
        color-orange: #fd7e14,
        color-yellow: #ffc107,
        color-green: #198754,
        color-teal: #eb860f,
        color-cyan: #0dcaf0,
        color-rating: #faa706,
        color-white: #fff,
        color-gray: #241c33,
        color-black: #241c34 ,
        color-black-2: #241c35 ,
        color-black-3: #241c36 ,
        color-black-4: #241c37 ,
        color-black-5: #241c38 ,
        color-black-6: #241c39 ,
        color-black-7: #241c40 ,
        color-black-8: #241c41 ,
        color-black-9: #241c42 ,
    ),
    body: (
        color: #adb0bc,
    ),
    heading: (
        color: #fff,
    ),
    theme: (
        primary: #eb860f,
        secondary: #ffbe18,
    ),
    border: (
        1: #241c34,
        2: #241c33,
        3: #241c32,
        4: #241c31,
        5: #241c30,
    )
);
